.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto 32px;
  margin-top: 90px;
  padding: 0 1rem;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: #FFC134;
  font-size: 14px;
  font-weight: 700;
}

.textPurple {
  color: #dd7f41 !important;
}

.header span {
  background: #333333;
  color: #D9D9D9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width <= 480px) {
  .tasks {
    margin: 120px auto 32px;
  } 
  .header p {
    font-size: 12px;
    font-weight: 400;
  }
  .header span {
    font-weight: 400;
  }
}